* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  /* background: url(assets/images/library-7803315_1280.jpg);
  background-size: contain; */
}

.container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(fit-content, 1fr));
}

.navTop {
  display: flex;
  background-color: rgba(202, 202, 202, 0.094);
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  /* color: white; */
}

.search {
  display: flex;
  border-radius: 10%;
  width: 200px;
  border-radius: 20px;
  justify-content: center;

  background-color: rgba(202, 199, 199, 0.507);
}

.search input {
  border: none;
  background-color: transparent;

  padding: 0 20px;
  align-self: center;
  width: 80%;
}

.navItem h3 {
  color: rgb(181, 123, 52);
  font-weight: bolder;
  font-size: larger;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navBottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.navBottom ul {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  list-style: none;
}

ul a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-bottom: 10px;
}

ul a:hover {
  color: rgba(181, 123, 52, 0.863);
  border-bottom: 2px solid rgba(181, 123, 52, 0.863);
}

/* .entryImg img {
  margin-bottom: 30px;
} */

h3 {
  font-size: small;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}

.book-Cont {
  width: 100%;
  padding: 30px;
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: rgba(185, 153, 113, 0.231); */
}

h2 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}
.book-Cont .featured {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 20px;
}

.featured .f-book {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  max-height: 200px;
  gap: 30px;
  position: relative;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(190, 127, 51, 0.226);
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.215);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.f-book:hover {
  transform: scale(1.05);
}
.hover-btns {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1px;
  z-index: 10;
}
.hover-btns:hover {
  transform: scale(0.9);
}

.featured .f-book img {
  width: 100px;
  height: 120px;
  border-radius: 10px;
}

.f-book .desc-Btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialog {
  margin: auto auto;
  display: grid;
  gap: 10px;
  padding: 20px;
  border: none;
  border-radius: 10px;
}
.dialog form {
  display: grid;
  gap: 20px;
}

form h2 {
  text-align: center;
  font-weight: bolder;

  margin-bottom: 20px;
}

.input-label {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
  gap: 5px;
}
.button {
  margin: 5px auto;
}

.button button,
button {
  width: 10vw;
  padding: 5px 10px;
  border: none;
  margin-top: 10px;
  border-radius: 15px;
  background-color: rgba(181, 123, 52, 0.863);
}

.hover-btn {
  background-color: transparent;
  width: fit-content;
  size: 5px;
  padding: 0;
  margin: 0;
  border: none;
}
